[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kuyruk = "*"
sanic = "*"
"e1839a8" = {path = ".", editable = true}
"pygit2" = "==0.27"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
